{% extends 'base.html.twig' %}

{% block title %}FC-Pro | Nouvelle formation {% endblock %}


{% block body %}
    <h1>{{'Create new formation' |trans }}</h1>

    {{ include('formation/_form.html.twig') }}
    <br>

    <a class="btn btn-secondary" href="{{ path('app_formation_index') }}"><i class="fa-regular fa-circle-left"></i> {{'back to list' |trans }}</a>
{% endblock %}
